html{
    height:100%;
    font-family: "Roboto Condensed";
    background-image:linear-gradient(#4771AA,black);
    color: white;
}

#quiz_title {
    align-items:center;
    text-align:center;
    font-size:2em;
    font-weight: 600;
    text-shadow: 3px 5px 5px black;
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display:inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: rgb(255, 255, 255);
     top: 10px;
     height: 25px;
     width: 25px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     left: 6px;
     top: 1px;
     content: '\02143';
     transform: rotate(40deg);
     font: 20px/1 'Open Sans', sans-serif;
}
.form-radio:hover
{
     background-color: rgba(155, 155, 155, 0.753);
     content: '\02143';
     
}
.form-radio:checked
{
     background-color: #170042;
}
label
{
     cursor: pointer;
     display:inline-block;
     padding: 10px;
} 

#submit_container{
    padding: 20px;
}

button {
    color:white;
    font-size: 2em;
    display:block;
    font-family: "Roboto Condensed";
    width:auto;
    margin:0 auto;
    background-color:transparent;
    border:solid 2px white;
}

button:hover{
    background-image: linear-gradient(darkgray,darkblue);
}

#results{
    font-size: 1.25em;
    text-align: center;
}

.question{
    font-size:1.75em;
    padding:0px 15px 0px;
}

.answers {
    font-weight: 125;
    font-size:1.5em;
}

p {
    padding-right: 20px;
    padding-left: 20px;
    font-size:1.5em;
}

#previous {
    float:left;
}

#next {
    float:right;
}

#submit{
    float:right;
}
.slide{
    position:absolute;
    size:auto;
    /*left: 0px;
    top: 0px;*/
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    margin-left:10px;
    margin-right:10px;
  }
  .active-slide{
    opacity: 1;
    z-index: 2;
  }
  .quiz-container-slides{
    position: relative;
    height: 200px;
    margin-top: 40px;
  }

  #home {
      position:absolute;
      float:left;
      margin-right:15px;
      font-size:.6em;
  }
a{
    color:white;
    text-decoration:none;
}

